name: Daily Volume Report

on:
  schedule:
    - cron: "0 1 * * *"   # 01:00 UTC = 08:00 Viá»‡t Nam
  workflow_dispatch:

jobs:
  run-report:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - run: pip install requests

      - name: Run script
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          CMC_API_KEY: ${{ secrets.CMC_API_KEY }}
        run: python report.py
